In [2]:
import pandas as pd
import numpy as np #importing lib

In [6]:
data=pd.read_csv("movies.csv") #importing file
data.head(2) # redaing 2 rows of table

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08

In [7]:
data.tail(2) # reading last 2 rows pof table

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
10864,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/66,22,5.4,1966,0.000000,0.0
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,127642.279154,0.0

In [8]:
data.describe() # getting info of table max,min,std,var #descrbe only those have integer values

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

In [9]:
data.describe(include="object") #descibe only object values

,imdb_id,original_title,cast,homepage,director,tagline,keywords,overview,genres,production_companies,release_date
count,10856,10866,10790,2936,10822,8042,9373,10862,10843,9836,10866
unique,10855,10571,10719,2896,5067,7997,8804,10847,2039,7445,5909
top,tt0411951,Hamlet,Louis C.K.,http://phantasm.com,Woody Allen,Based on a true story.,woman director,No overview found.,Comedy,Paramount Pictures,1/1/09
freq,2,4,6,4,45,5,134,13,712,156,28

In [11]:
data.describe(include="all") #descirbe all integer + object

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10856,10866.000000,1.086600e+04,1.086600e+04,10866,10790,2936,10822,8042,...,10862,10866.000000,10843,9836,10866,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
unique,NaN,10855,NaN,NaN,NaN,10571,10719,2896,5067,7997,...,10847,NaN,2039,7445,5909,NaN,NaN,NaN,NaN,NaN
top,NaN,tt0411951,NaN,NaN,NaN,Hamlet,Louis C.K.,http://phantasm.com,Woody Allen,Based on a true story.,...,No overview found.,NaN,Comedy,Paramount Pictures,1/1/09,NaN,NaN,NaN,NaN,NaN
freq,NaN,2,NaN,NaN,NaN,4,6,4,45,5,...,13,NaN,712,156,28,NaN,NaN,NaN,NaN,NaN
mean,66064.177434,NaN,0.646441,1.462570e+07,3.982332e+07,NaN,NaN,NaN,NaN,NaN,...,NaN,102.070863,NaN,NaN,NaN,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,NaN,1.000185,3.091321e+07,1.170035e+08,NaN,NaN,NaN,NaN,NaN,...,NaN,31.381405,NaN,NaN,NaN,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,NaN,0.000065,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,NaN,NaN,NaN,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,NaN,0.207583,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,...,NaN,90.000000,NaN,NaN,NaN,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,NaN,0.383856,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,...,NaN,99.000000,NaN,NaN,NaN,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,NaN,0.713817,1.500000e+07,2.400000e+07,NaN,NaN,NaN,NaN,NaN,...,NaN,111.000000,NaN,NaN,NaN,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,NaN,32.985763,4.250000e+08,2.781506e+09,NaN,NaN,NaN,NaN,NaN,...,NaN,900.000000,NaN,NaN,NaN,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

In [12]:
data.mean() # getting mean of every feature

id              6.606418e+04
popularity      6.464410e-01
budget          1.462570e+07
revenue         3.982332e+07
runtime         1.020709e+02
vote_count      2.173897e+02
vote_average    5.974922e+00
release_year    2.001323e+03
budget_adj      1.755104e+07
revenue_adj     5.136436e+07
dtype: float64

In [57]:
data["budhet$"].mean() #getting mean of only buget feature

14625701.09414688

In [16]:
data.median() # egtting median

id              20669.000000
popularity          0.383856
budget              0.000000
revenue             0.000000
runtime            99.000000
vote_count         38.000000
vote_average        6.000000
release_year     2006.000000
budget_adj          0.000000
revenue_adj         0.000000
dtype: float64

In [17]:
data["budget"].median() #median of budget colunms

0.0

In [18]:
data.mode() # getting mode

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,42194.0,tt0411951,0.011798,0.0,0.0,Hamlet,Louis C.K.,http://phantasm.com,Woody Allen,Based on a true story.,...,No overview found.,90.0,Comedy,Paramount Pictures,1/1/09,10.0,6.1,2014.0,0.0,0.0
1,NaN,NaN,0.021121,NaN,NaN,NaN,NaN,http://www.missionimpossible.com/,NaN,NaN,...,NaN,NaN,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,0.028143,NaN,NaN,NaN,NaN,http://www.thehungergames.movie/,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,0.044913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,0.060425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,0.065543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,0.071830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,0.078482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,0.083178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,0.090552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,0.109305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,0.111351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,0.114027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,0.122543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,0.126182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,0.126283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,0.138861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,0.143953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,0.144297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,0.150035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,0.155519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,0.158021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,0.186995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,0.187319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,0.210766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,0.210808,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,0.211695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,0.214587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,0.223151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,0.227220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,0.227580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,0.247926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,0.255458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,0.265119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,0.272995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,0.275803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,0.292536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,0.317301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,0.326556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,0.340804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,0.358694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,0.363923,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,0.410235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,0.430191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,0.468552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,0.506241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,0.557155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,0.596430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,0.623706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,0.701814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,0.984256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,1.107689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
data["budget"].mode()

0    0
dtype: int64

In [20]:
data.std() #getting standard variance

id              9.213014e+04
popularity      1.000185e+00
budget          3.091321e+07
revenue         1.170035e+08
runtime         3.138141e+01
vote_count      5.756191e+02
vote_average    9.351418e-01
release_year    1.281294e+01
budget_adj      3.430616e+07
revenue_adj     1.446325e+08
dtype: float64

In [21]:
data.var() # getting variance

id              8.487962e+09
popularity      1.000370e+00
budget          9.556268e+14
revenue         1.368982e+16
runtime         9.847926e+02
vote_count      3.313373e+05
vote_average    8.744902e-01
release_year    1.641714e+02
budget_adj      1.176912e+15
revenue_adj     2.091856e+16
dtype: float64

In [22]:
data.rename(columns={"budget":"budhet$"},inplace=True ) # renaming coulmn budget

In [24]:
data.columns # getting columns names

Index(['id', 'imdb_id', 'popularity', 'budhet$', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [26]:
data.max() #getting max

id                     417859
popularity            32.9858
budhet$             425000000
revenue            2781505847
original_title       í•˜ìš¸ë§
runtime                   900
release_date           9/9/97
vote_count               9767
vote_average              9.2
release_year             2015
budget_adj           4.25e+08
revenue_adj       2.82712e+09
dtype: object

In [27]:
data["budhet$"].max() #getting max of buget coulmn

425000000

In [28]:
data.min() # getting minimum

id                       5
popularity         6.5e-05
budhet$                  0
revenue                  0
original_title    $5 a Day
runtime                  0
release_date        1/1/00
vote_count              10
vote_average           1.5
release_year          1960
budget_adj               0
revenue_adj              0
dtype: object

In [29]:
data["budhet$"].min()

0

In [30]:
data["budhet$"].groupby(data["id"]).mean() # grouping budget and id coulnm by their mean

id
5           4000000
6                 0
11         11000000
12         94000000
13         55000000
14         15000000
16         12800000
17                0
18         90000000
20                0
21                0
22        140000000
24         30000000
25         72000000
26          1400000
27          1000000
28         31500000
33         14000000
35         75000000
38         20000000
58        200000000
59         32000000
62         12000000
63         29500000
65         41000000
66         50000000
67                0
68         15000000
69         28000000
70         30000000
            ...
365805            0
365806            0
366018            0
366142            0
366929            0
367186            0
367215            0
367326            0
367551            0
367735            0
368256            0
369058            0
369145            0
370687            0
371442            0
371758            0
371759            0
371833            0
373558            0
373977            0
374430            0
376823            0
378373            0
382517            0
386501            0
395560      1300000
395883            0
409696            0
414419     30000000
417859    130000000
Name: budhet$, Length: 10865, dtype: int64

In [38]:
data.sort_values(by="id") # sorting id values

,id,imdb_id,popularity,budhet$,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
8088,5,tt0113101,1.234890,4000000,4300000,Four Rooms,Tim Roth|Antonio Banderas|Jennifer Beals|Madon...,NaN,Allison Anders|Alexandre Rockwell|Robert Rodri...,Twelve outrageous guests. Four scandalous requ...,...,It's Ted the Bellhop's first night on the job....,98,Comedy,Miramax Films|A Band Apart,12/25/95,293,6.4,1995,5.723867e+06,6.153158e+06
10249,6,tt0107286,0.815631,0,12136938,Judgment Night,Emilio Estevez|Cuba Gooding Jr.|Denis Leary|Je...,NaN,Stephen Hopkins,Don't move. Don't whisper. Don't even breathe.,...,"While racing to a boxing match, Frank, Mike, J...",110,Action|Thriller|Crime,Largo Entertainment|JVC Entertainment Networks,10/15/93,36,6.4,1993,0.000000e+00,1.832034e+07
1329,11,tt0076759,12.037933,11000000,775398007,Star Wars,Mark Hamill|Harrison Ford|Carrie Fisher|Peter ...,http://www.starwars.com/films/star-wars-episod...,George Lucas,"A long time ago in a galaxy far, far away...",...,Princess Leia is captured and held hostage by ...,121,Adventure|Action|Science Fiction,Lucasfilm|Twentieth Century Fox Film Corporation,3/20/77,4428,7.9,1977,3.957559e+07,2.789712e+09
4955,12,tt0266543,3.440519,94000000,864625978,Finding Nemo,Albert Brooks|Ellen DeGeneres|Alexander Gould|...,http://movies.disney.com/finding-nemo,Andrew Stanton|Lee Unkrich,"There are 3.7 trillion fish in the ocean, they...",...,A tale which follows the comedic and eventful ...,100,Animation|Family,Walt Disney Pictures|Pixar Animation Studios|D...,5/30/03,3692,7.4,2003,1.114231e+08,1.024887e+09
4179,13,tt0109830,6.715966,55000000,677945399,Forrest Gump,Tom Hanks|Robin Wright|Gary Sinise|Mykelti Wil...,NaN,Robert Zemeckis,"The world will never be the same, once you've ...",...,A man with a low IQ has accomplished great thi...,142,Comedy|Drama|Romance,Paramount Pictures,7/6/94,4856,8.1,1994,8.091114e+07,9.973333e+08
2411,14,tt0169547,3.555720,15000000,356296601,American Beauty,Kevin Spacey|Annette Bening|Thora Birch|Wes Be...,http://www.dreamworks.com/ab/,Sam Mendes,Look closer.,...,"Lester Burnham, a depressed suburban father in...",122,Drama,DreamWorks SKG|Jinks/Cohen Company,9/15/99,1756,7.7,1999,1.963579e+07,4.664111e+08
8695,16,tt0168629,0.977410,12800000,40031879,Dancer in the Dark,BjÃ¶rk|Catherine Deneuve|David Morse|Peter Sto...,NaN,Lars von Trier,You don't need eyes to see.,...,"Selma, a Czech immigrant on the verge of blind...",140,Drama|Crime|Music,Fine Line Features|Zentropa Entertainments|Dan...,5/17/00,190,7.4,2000,1.620854e+07,5.069205e+07
6869,17,tt0411267,0.546134,0,0,The Dark,Sean Bean|Maria Bello|Richard Elfyn|Maurice Ro...,http://www.whatisannwyn.co.uk/,John Fawcett,One of the living for one of the dead.,...,AdÃ¨le and her daughter Sarah are traveling on...,87,Horror|Thriller|Mystery,Constantin Film|Impact Pictures|Isle of Man Fi...,1/26/06,31,5.2,2006,0.000000e+00,0.000000e+00
5235,18,tt0119116,2.972972,90000000,263920180,The Fifth Element,Bruce Willis|Gary Oldman|Ian Holm|Milla Jovovi...,NaN,Luc Besson,There is no future without it.,...,"In 2257, a taxi driver is unintentionally give...",126,Adventure|Fantasy|Action|Thriller|Science Fiction,Columbia Pictures|Gaumont,5/7/97,2649,7.1,1997,1.222614e+08,3.585251e+08
5131,20,tt0314412,0.282490,0,9726954,My Life Without Me,Sarah Polley|Amanda Plummer|Scott Speedman|Leo...,http://www.clubcultura.com/clubcine/clubcineas...,Isabel Coixet,NaN,...,A Pedro Almodovar production in which a fatall...,106,Drama|Romance,El Deseo|Milestone Productions,3/7/03,44,6.7,2003,0.000000e+00,1.152987e+07
10861,21,tt0060371,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,NaN,Bruce Brown,NaN,...,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,6/15/66,11,7.4,1966,0.000000e+00,0.000000e+00
4951,22,tt0325980,6.864067,140000000,655011224,Pirates of the Caribbean: The Curse of the Bla...,Johnny Depp|Geoffrey Rush|Orlando Bloom|Keira ...,http://disney.go.com/disneyvideos/liveaction/p...,Gore Verbinski,Prepare to be blown out of the water.,...,"Jack Sparrow, a freewheeling 17th-century pira...",143,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films,7/9/03,4223,7.3,2003,1.659494e+08,7.764193e+08
4952,24,tt0266697,6.174132,30000000,180949000,Kill Bill: Vol. 1,Uma Thurman|Lucy Liu|Vivica A. Fox|Daryl Hanna...,http://www.miramax.com/movie/kill-bill-volume-1/,Quentin Tarantino,Go for the kill.,...,An assassin is shot at the altar by her ruthle...,111,Action|Crime,Miramax Films|A Band Apart|Super Cool ManChu,10/10/03,2932,7.6,2003,3.556058e+07,2.144884e+08
6236,25,tt0418763,1.148377,72000000,96889998,Jarhead,Jamie Foxx|Jake Gyllenhaal|Scott MacDonald|Luc...,NaN,Sam Mendes,Welcome to the suck.,...,Jarhead is a film about a US Marine Anthony Sw...,125,Drama|War,Universal Pictures|Neal Street Productions|Red...,11/4/05,448,6.4,2005,8.039256e+07,1.081838e+08
7204,26,tt0352994,0.192215,1400000,0,LaLehet Al HaMayim,Lior Ashkenazi|Knut Berger|Caroline Peters|Gid...,http://www.walkonwatermovie.com,Eytan Fox,He was trained to hate until he met the enemy.,...,"Eyal, an Israeli Mossad agent, is given the mi...",103,Drama,Lama Films|United King Films,2/5/04,10,6.4,2004,1.616224e+06,0.000000e+00
7020,27,tt0411705,1.117300,1000000,332323,9 Songs,Kieran O'Brien|Margo Stilley|The Dandy Warhols...,NaN,Michael Winterbottom,"2 lovers, one summer, and the 9 songs that def...",...,"Matt, a young glaciologist, soars across the v...",66,Drama|Music|Romance,Revolution Films,7/16/04,53,5.2,2004,1.154445e+06,3.836488e+05
7826,28,tt0078788,2.319520,31500000,83471511,Apocalypse Now,Martin Sheen|Marlon Brando|Robert Duvall|Laure...,http://www.apocalypsenow.com,Francis Ford Coppola,This is the end...,...,"At the height of the Vietnam war, Captain Benj...",153,Drama|War,Zoetrope Studios,8/15/79,1100,7.8,1979,9.464345e+07,2.507947e+08
8261,33,tt0105695,0.841580,14000000,159157447,Unforgiven,Clint Eastwood|Gene Hackman|Morgan Freeman|Ric...,NaN,Clint Eastwood,Some legends will never be forgotten. Some wro...,...,"William Munny is a retired, once-ruthless kill...",131,Western,Warner Bros.,8/7/92,602,7.5,1992,2.175634e+07,2.473345e+08
7427,35,tt0462538,1.380432,75000000,527068851,The Simpsons Movie,Dan Castellaneta|Julie Kavner|Nancy Cartwright...,http://www.simpsonsmovie.com/,David Silverman,See our family. And feel better about yours.,...,After Homer accidentally pollutes the town's w...,87,Animation|Comedy|Family,Gracie Films|Twentieth Century Fox Film Corpor...,7/25/07,1258,6.9,2007,7.887514e+07,5.543018e+08
6965,38,tt0338013,3.863377,20000000,72258126,Eternal Sunshine of the Spotless Mind,Jim Carrey|Kate Winslet|Elijah Wood|Mark Ruffa...,http://www.eternalsunshine.com,Michel Gondry,I already forget how I used to feel about you.,...,"Joel Barish, heartbroken that his girlfriend u...",108,Science Fiction|Drama|Romance,Anonymous Content|This Is That Productions|Foc...,3/19/04,2012,7.8,2004,2.308891e+07,8.341806e+07
6555,58,tt0383574,4.205992,200000000,1065659812,Pirates of the Caribbean: Dead Man's Chest,Johnny Depp|Orlando Bloom|Keira Knightley|Bill...,http://disney.go.com/disneypictures/pirates/,Gore Verbinski,Jack is back!,...,The high-seas adventures of happy-go-lucky tro...,151,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,6/20/06,3181,6.8,2006,2.163338e+08,1.152691e+09
6278,59,tt0399146,0.773901,32000000,60740827,A History of Violence,Viggo Mortensen|Maria Bello|Heidi Hayes|Ashton...,NaN,David Cronenberg,Tom Stall had the perfect life... until he bec...,...,An average family is thrust into the spotlight...,96,Drama|Thriller|Crime,New Line Cinema|DC Comics|BenderSpink,9/23/05,403,6.7,2005,3.573003e+07,6.782098e+07
9719,62,tt0062622,3.309196,12000000,56715371,2001: A Space Odyssey,Keir Dullea|Douglas Rain|Gary Lockwood|William...,NaN,Stanley Kubrick,An epic drama of adventure and exploration,...,Humanity finds a mysterious object buried bene...,149,Science Fiction|Mystery|Adventure,Stanley Kubrick Productions|Metro-Goldwyn-Maye...,4/5/68,1708,7.7,1968,7.522756e+07,3.555466e+08
8075,63,tt0114746,2.206907,29500000,168840000,Twelve Monkeys,Bruce Willis|Madeleine Stowe|Brad Pitt|Christo...,NaN,Terry Gilliam,The future is history,...,"In the year 2035, convict James Cole reluctant...",129,Science Fiction|Thriller|Mystery,Universal Pictures|Atlas Entertainment|Classico,12/29/95,1439,7.2,1995,4.221352e+07,2.416044e+08
3934,65,tt0298203,1.558805,41000000,215000000,8 Mile,Eminem|Mekhi Phifer|Brittany Murphy|Kim Basing...,http://movies.uip.de/8mile/,Curtis Hanson,Every moment is another chance.,...,The setting is Detroit in 1995. The city is di...,110,Drama,Imagine Entertainment|Mikona Productions GmbH ...,11/8/02,944,6.7,2002,4.970272e+07,2.606362e+08
5291,66,tt0118548,0.708978,50000000,50068310,Absolute Power,Clint Eastwood|Gene Hackman|Ed Harris|Scott Gl...,NaN,Clint Eastwood,Corrupts Absolutely.,...,A master thief coincidentally is robbing a hou...,121,Crime|Drama|Thriller,Columbia Pictures|Castle Rock Entertainment|Ma...,2/14/97,91,6.2,1997,6.792302e+07,6.801581e+07
6412,67,tt0445620,0.356717,0,3357075,Paradise Now,Ali Suliman|Amer Hlehel|Hiam Abbass|Ashraf Bar...,http://wip.warnerbros.com/paradisenow/,Hany Abu-Assad,"From the most unexpected place, come a new ca...",...,Paradise Now is filmed from the perspective of...,90,Thriller|Crime|Drama,Lama Films|Augustus Film|Lama Productions|Lume...,2/14/05,26,6.3,2005,0.000000e+00,3.748387e+06
6092,68,tt0088846,1.105634,15000000,0,Brazil,Jonathan Pryce|Robert De Niro|Katherine Helmon...,NaN,Terry Gilliam,It's only a state of mind.,...,Brazil is a Terry Gilliam dystopic black comed...,132,Comedy|Science Fiction,Embassy International Pictures,2/20/85,434,7.4,1985,3.040749e+07,0.000000e+00
6297,69,tt0358273,0.681157,28000000,186438883,Walk the Line,Joaquin Phoenix|Reese Witherspoon|Ginnifer Goo...,NaN,James Mangold,Love is a burning thing.,...,A chronicle of country music legend Johnny Cas...,136,Drama|Music|Romance,Tree Line Films|Konrad Pictures|Catfish Produc...,9/13/05,415,7.0,2005,3.126377e+07,2.081708e+08
6990,70,tt0405159,1.648554,30000000,216763646,Million Dollar Baby,Clint Eastwood|Hilary Swank|Morgan Freeman|Jay...,http://www.milliondollarbaby-derfilm.de/,Clint Eastwood,"Beyond his silence, there is a past. Beyond he...",...,Despondent over a painful estrangement from hi...,132,Drama,Lakeshore Entertainment|Malpaso Productions|Ep...,12/14/04,1355,7.6,2004,3.463336e+07,2.502418e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,365805,tt4227282,0.411416,0,0,Wrecker,Anna Hutchison|Andrea Whitburn|Jennifer Koenig...,NaN,Michael Bafaro,You Stop You Die,...,Best friends Emily and Lesley go on a road tri...,83,Thriller|Action|Horror,IW Wrecker Productions,11/6/15,12,3.6,2015,0.000000e+00,0.000000e+00
185,365806,tt4856322,0.810667,0,0,Halo: The Fall of Reach,Steve Downes|Jen Taylor|Michelle Lukes|Travis ...,NaN,Ian Kirby,An Unstoppable Threat. An Unthinkable Sacrifice.,...,Relive the origin of the legendary Master Chie...,67,Action|Animation|Science Fiction,343 Industries|The Sequence Group,10/27/15,32,5.3,2015,0.000000e+00,0.000000e+00
450,366018,tt4587740,0.215386,0,0,A Christmas Melody,Lacey Chabert|Mariah Carey|Brennan Elliott|Kat...,NaN,Mariah Carey,NaN,...,"""A Christmas Melody"" revolves around Kristin, ...",83,Romance|Music|TV Movie|Comedy,NaN,12/19/15,12,5.5,2015,0.000000e+00,0.000000e+00
343,366142,tt5223342,0.344994,0,0,Minions: The Competition,Pierre Coffin|Chris Renaud,NaN,Kyle Balda|Julien Soret,NaN,...,Two minions working in a bomb lab get competit...,4,Animation,Illumination Entertainment,11/4/15,16,5.9,2015,0.000000e+00,0.000000e+00
594,366929,tt4781700,0.052217,0,0,One Soldier's Story: The Journey of American S...,Bradley Cooper|Sienna Miller|Jason Hall|Clint ...,NaN,Gary Leva,NaN,...,Join director Clint Eastwood and his creative ...,30,Romance|War|Documentary|Drama,NaN,11/7/15,14,5.6,2015,0.000000e+00,0.000000e+00
2170,367186,tt1453159,0.082894,0,0,The Pillars of the Earth,Ian McShane|Matthew Macfadyen|Eddie Redmayne|H...,NaN,Sergio Mimica-Gezzan,NaN,...,The Pillars of the Earth is an eight-part 2010...,421,Drama|History|Romance,Scott Free Productions|Tandem Communications|T...,7/23/10,22,7.3,2010,0.000000e+00,0.000000e+00
550,367215,tt5083702,0.106091,0,0,The Fear of 13,Sammy Silverwatch,http://www.thefearof13.com/,David Sington,We are the stories we tell.,...,After 23 years on Death Row a convicted murder...,96,Thriller|Documentary,NaN,10/15/15,19,8.2,2015,0.000000e+00,0.000000e+00
456,367326,tt5184298,0.208491,0,0,Cosmic Scrat-tastrophe,Chris Wedge|Ray Romano|John Leguizamo|Denis Leary,NaN,Mike Thurmeier|Galen T. Chu,NaN,...,Scrat struggles once again to protect his nut.,5,Science Fiction|Comedy|Animation|Family,Twentieth Century Fox Film Corporation|Blue Sk...,11/6/15,33,7.7,2015,0.000000e+00,0.000000e+00
479,367551,tt4733536,0.283650,0,0,American Hero,Stephen Dorff|Eddie Griffin|Bill Billions|Jona...,http://www.protagonistpictures.com/films/ameri...,Nick Love,From zero to superhero,...,"Melvin, a reluctant hero who is far from super...",86,Action|Comedy|Science Fiction,Screen Media Films|Vertigo Films|Protagonist P...,12/11/15,31,5.2,2015,0.000000e+00,0.000000e+00
625,367735,tt5069564,0.017050,0,0,John Mulaney: The Comeback Kid,John Mulaney,NaN,Rhys Thomas,NaN,...,"Armed with boyish charm and a sharp wit, the f...",62,Comedy,3 Arts Entertainment|Irwin Entertainment,11/13/15,19,6.7,2015,0.000000e+00,0.000000e+00
400,368256,tt3619102,0.272995,0,0,Condemned,Johnny Messner|Michael DeMello|Jordan Gelber|T...,NaN,Eli Morgan Gesner,Death is the only escape,...,"Fed up with her parents' bickering, poor-littl...",83,Horror,Caliber Media Company,11/13/15,16,3.7,2015,0.000000e+00,0.000000e+00
528,369058,tt5210380,0.133921,0,0,Merry Kissmas,Karissa Staples|Brant Daugherty|Brittany Under...,NaN,Michael Feifer,NaN,...,Unwinding her relationship from a controlling ...,90,Romance|TV Movie,NaN,12/5/15,10,7.6,2015,0.000000e+00,0.000000e+00
4797,369145,NaN,0.167501,0,0,Doctor Who: The Snowmen,Matt Smith|Jenna Coleman|Richard E. Grant|Ian ...,NaN,NaN,NaN,...,"Christmas Eve, 1892, and the falling snow is t...",60,NaN,BBC Television UK,12/25/12,10,7.8,2012,0.000000e+00,0.000000e+00
92,370687,tt3608646,1.876037,0,0,Mythica: The Necromancer,Melanie Stone|Adam Johnson|Kevin Sorbo|Nicola ...,http://www.mythicamovie.com/#!blank/y9ake,A. Todd Smith,NaN,...,Mallister takes Thane prisoner and forces Mare...,0,Fantasy|Action|Adventure,Arrowstorm Entertainment|Camera 40 Productions...,12/19/15,11,5.4,2015,0.000000e+00,0.000000e+00
430,371442,tt3482062,0.239558,0,0,Bad Roomies,Patrick Renna|Tommy Savas|Annie Monroe|Jackie ...,http://www.badroomiesfilm.com,Jason Schnell,NaN,...,Two guys find a beautiful young woman to take ...,93,Comedy,Eastside Films,12/1/15,16,5.1,2015,0.000000e+00,0.000000e+00
540,371758,tt3581932,0.112284,0,0,And Then There Were None,Maeve Dermody|Aidan Turner|Charles Dance|Dougl...,http://www.bbc.co.uk/programmes/b06v2v52,Craig Viveiros,Agatha Christie's darkest thriller,...,"Ten strangers, drawn away from their normal li...",168,Mystery|Drama,British Broadcasting Corporation (BBC)|Mammoth...,12/26/15,37,7.7,2015,0.000000e+00,0.000000e+00
553,371759,tt4701546,0.068741,0,0,Doctor Who: The Husbands of River Song,Peter Capaldi|Alex Kingston|Greg Davies|Matt L...,http://www.bbc.co.uk/programmes/b06tl32t,Douglas Mackinnon,NaN,...,Itâ€™s Christmas Day on a remote human colony ...,60,Drama|Science Fiction|Comedy,British Broadcasting Corporation (BBC),12/25/15,31,8.0,2015,0.000000e+00,0.000000e+00
569,371833,tt4974584,0.088764,0,0,Harry Price: Ghost Hunter,Rafe Spall|Cara Theobold|Tom Ward|Sophie Stant...,NaN,Alex Pillai,NaN,...,When MP's wife Grace Goodwin is found naked on...,90,Drama|Horror,Bentley Productions,12/27/15,10,5.3,2015,0.000000e+00,0.000000e+00
455,373558,tt5297750,0.209036,0,0,Taylor Swift: The 1989 World Tour - Live,Taylor Swift|Ellen DeGeneres|Cara Delevingne|L...,NaN,Jonas Ã…kerlund,NaN,...,Taylor delivers the concert event of the year....,132,Documentary|Music,Apple Inc.,12/20/15,15,7.6,2015,0.000000e+00,0.000000e+00
559,373977,tt4146128,0.031635,0,0,Childhood's End,Mike Vogel|Osy Ikhile|Daisy Betts|Georgina Hai...,NaN,Nick Hurran,NaN,...,"After peaceful aliens invade earth, humanity f...",246,Thriller|TV Movie|Science Fiction|Drama,NaN,12/14/15,21,6.2,2015,0.000000e+00,0.000000e+00
1200,374430,tt3973198,0.129531,0,0,Black Mirror: White Christmas,Jon Hamm|Rafe Spall|Oona Chaplin|Natalia Tena|...,NaN,Carl Tibbetts,NaN,...,This feature-length special consists of three ...,74,Drama|Horror|Mystery|Science Fiction|Thriller,NaN,12/16/14,41,8.8,2014,0.000000e+00,0.000000e+00
6078,376823,tt3231100,0.002647,0,0,Trophy Kids,NaN,NaN,Chris Bell,NaN,...,From the director of Bigger Stronger Faster co...,107,Documentary,NaN,12/4/13,10,7.8,2013,0.000000e+00,0.000000e+00
143,378373,tt3532278,1.128081,0,0,Brothers of the Wind,Manuel Camacho|Jean Reno|Tobias Moretti|Eva Kuen,http://www.terramater.at/cinema/brothers-of-th...,Gerado Olivares|Otmar Penker,Sometimes a friendship sets you free,...,The way of the eagle is to raise two chicks. T...,98,Adventure|Drama|Family,Terra Mater Factual Studios,12/24/15,11,7.5,2015,0.000000e+00,0.000000e+00
190,382517,tt4938374,0.773909,0,0,Open Season: Scared Silly,Garry Chalk|Kathleen Barr|Willa Townsend|Melis...,http://www.sonypictures.com/movies/openseasons...,David Feiss,NaN,...,The humans and animals believe a werewolf is o...,85,Animation|Comedy|Family|Adventure,Sony Pictures Animation,12/31/15,33,5.6,2015,0.000000e+00,0.000000e+00
458,386501,tt3881680,0.207366,0,0,Waffle Street,James Lafferty|Danny Glover|Julie Gonzalo|Dale...,http://www.wafflestreetmovie.com/,Eshom Nelms|Ian Nelms,NaN,...,WAFFLE STREET is the true story of Jimmy Adams...,86,Drama|Comedy,Side Gig Productions,9/24/15,25,6.4,2015,0.000000e+00,0.000000e+00
515,395560,tt3108244,0.142759,1300000,0,Capsule,Edmund Kingsley|David Wayman|Nigel Barber|Lisa...,http://capsulethemovie.com/,Andrew Martin,"One Man, One Mission, One Choice",...,Guy is an experienced British fighter pilot wh...,91,Drama|History|Thriller|Science Fiction,Ecaveo Capital Partners|Hermes Space Industries,12/23/15,11,5.3,2015,1.195999e+06,0.000000e+00
352,395883,tt4073890,0.333656,0,0,Andron,Alec Baldwin|Michelle Ryan|Danny Glover|Gale H...,http://ambidistribution.com/titles?title=Andron,Francesco Cinquemani,Only one survives,...,"A group of people are plunged into a dark, cla...",100,Action|Science Fiction,Ambi Pictures,11/8/15,24,4.7,2015,0.000000e+00,0.000000e+00
1217,409696,tt3718778,0.107621,0,0,Over the Garden Wall,Elijah Wood|Collin Dean|Melanie Lynskey|Christ...,NaN,Nate Cash,NaN,...,Two brothers find themselves lost in a mysteri...,110,Adventure|Animation|Family|Fantasy,Cartoon Network Studios,11/3/14,12,7.8,2014,0.000000e+00,0.000000e+00
3826,414419,tt6019206,0.146477,30000000,0,Kill Bill: The Whole Bloody Affair,Uma Thurman|Lucy Liu|Vivica A. Fox|Daryl Hanna...,http://www.miramax.com/movie/kill-bill-volume-1/,Quentin Tarantino,The bride is back for the final cut,...,Kill Bill: The Whole Bloody affair is a comple...,247,Crime|Action,Miramax Films|A Band Apart|Super Cool ManChu,3/28/11,28,8.1,2011,2.908194e+07,0.000000e+00
3460,417859,tt0448694,1.071695,130000000,554987477,Puss in Boots,Antonio Banderas|Salma Hayek|Zach Galifianakis...,NaN,Chris Miller,Live for danger. Fight for justice. Pray for m...,...,"Long before he even met Shrek, the notorious f...",90,Action|Adventure|Animation|Family|Fantasy,DreamWorks,10/28/11,48,6.9,2011,1.260217e+08,5.380038e+08

In [40]:
data["duplicate"]=data.duplicated() # creating duplicate coulmn and checking any duplicate value returning bool value
data.head(2)

,id,imdb_id,popularity,budhet$,revenue,original_title,cast,homepage,director,tagline,...,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,duplicate
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09,False
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08,False

In [45]:
data.loc[data["revenue"].idmax()] # fucntion to get whole row value whichgg have max value

AttributeError: 'Series' object has no attribute 'idmax'

In [51]:
data["budhet$"].unique() #getting unique values of budget column

array([150000000, 110000000, 200000000, 190000000, 135000000, 155000000,
       108000000,  74000000, 175000000, 245000000, 176000003,  15000000,
        88000000, 280000000,  44000000,  48000000, 130000000,  95000000,
       160000000,  30000000,  40000000,  28000000,  68000000,  81000000,
        20000000,  61000000,         0,  49000000,  29000000,  58000000,
         6000000,  50000000,  11000000,  90000000,  75000000,  25000000,
        10000000,  12000000,   4000000,  11800000,  35000000,  55000000,
        60000000, 105000000,  26000000,  70000000, 120000001,   3500000,
        65000000,  50100000, 100000000,  13000000,  99000000,   2500000,
        34000000,  80000000,  17000000,  31000000,   5000000,  64000000,
        11930000,   8500000,  23000000,  53000000,   8900000,    700000,
        14800000,  19500000,   1000000,   8000000,   1800000,   2000000,
        18000000,    630019,  14000000,  37000000,   7000000,   3000000,
         9600000,   2240000,   3300000,    100000,  21000000,   5300000,
         9000000,    447524,   1950000,   4400000,  27000000,    500000,
          600000,   7500000,   1500000,    650000,   9500000,   3400000,
         1300000,   1900000,  13500000,        10, 165000000, 170000000,
       125000000, 250000000, 127000000,  85000000, 210000000,  42000000,
       178000000,  58800000, 140000000, 180000000, 145000000, 132000000,
        16000000,  45000000,   5500000,  12600000, 120000000, 103000000,
         4900000,  66000000,  22000000,  13200000,  24000000,  12250000,
         6500000,  22500000,  19800000,  12500000,   6700000,  13300000,
          200000,   6600000,  36000000,   2800000,   2400000,   3150000,
         2700000,   1200000,    318000,  12700000,    325927,    156660,
          950000,        18,   6900000,         1,   5900000,    150000,
         1400000,       117,    750000,   3250000,         5,   2489400,
          900000,     10000,    810000,    230000,    530000, 237000000,
        23600000,  38000000,  33000000,  18500000,  47000000,  32000000,
         4500000,  14700000,  41000000,  39000000,  87000000,   4300000,
          800000,  78146652,   5100000,   6300000,  19000000,   7300000,
         3700000,   6400000,   5060730,   2900000,    425000,   2011799,
              75,   1700000,      5000,   3200000,       108,    250000,
           31192,      3500,  69000000, 260000000, 117000000, 112000000,
        52000000,  21800000,   1987650,   5773100,   5800000,   4466000,
         3100000,    550000, 104002432,   4600000,     30000,     65000,
       425000000,    967686,   7347125,   2300000,   7200000,   3167000,
          300000,   1100000,   1250000,         3,  63000000, 115000000,
        10500000, 133000000,  73000000,     25000,  34200000,  51000000,
              80,  82000000,  21500000,        25,   4250000,    450000,
         3800000,   9210000,  93000000,  98000000,  52500000,  92000000,
       102000000, 137000000,  72000000,  57000000,  21150000, 107000000,
        17700000,  62000000,   2079000,  94000000,   4800000,    165000,
       185000000, 225000000,  20500000,  10800000,  11500000,         8,
         6100000,  14100000,   8376800,  15400000,   4700000,  25100000,
         5750000,   9100000,     20000,   3600000,    515788,   4180000,
          170000, 380000000,  32500000, 163000000,  50200000,  79000000,
        56000000,  49900000,  14350531,  12468389,  15774948, 195000000,
         7700000,   4798235,   4317946,    350000,        93,    125000,
        10831173,    135000,    930000,  19100000,   8400000,   1150000,
         6965576,    134005,     70000,   8978040,      8000,   4200000,
           17000,     45202,   1340000,        97,   6800000,        20,
         2902660,     61733,  59000000, 139000000,  54000000,   3500159,
        46000000,  84000000,        68,        28,  43000000,  78000000,
        15600000,     40000,     27000,  17080000,    400000,   7400000,
        10300000,        32, 220000000, 215000000,  44500000, 209000000,
         3730500,  26350000,  16600000,   5600000,    850000,  18200000,
         4275000,        17,   5990000,   2840000,     10400,   8510000,
             110,  76000000,  27440000,  16500000,   7800000,    780000,
         8256269,   4361898,    569217,       300,  16700000, 116000000,
          786675, 255000000,   1030064,  10900000,    125687,  27220000,
        25500000,   8200000,  17500000,   6218100,   5200000,   1104000,
        83000000,        15,    567000,    725000,     50000,   1052753,
          996519,        89,   5112027,   7720000,    232000,       750,
             650,       500,    348164,  12305523,  17900000,   2200000,
          945000,       114,    860000,   2410000, 113000000, 126000000,
       207000000,    169000,    475000,  14200000,    818418,   1549000,
         4750000,  10284523,     16398,     72000,   1600000, 270000000,
        82500000, 149000000,  15500000,  72500000,  37665000,  16800000,
        19400000,    994000,   9364800,   2380000,  14500000,   8300000,
            2500,     79000,      7000,    130000,  24665810,    825000,
         5400000,  74500000,     74050,  19250000,        14,   2600000,
              90,    823258,   8800000,     12000,     90000,   3352254,
           75000, 300000000, 258000000,    160000,  86000000,     15000,
        51500000,  67000000,  10200000,  60795000,  27500000,    230400,
             700,        12,    120000,    441892,      6000,  31500000,
          239000,    420000,   1355000,  14400000,  25300000,   1746964,
         8600000,   2550000,   1065000,  32350000,  40600000,   6200000,
        10100000,        27,   5952000,    980385,  29500000,  30250000,
         8169363,         6,  13365000,    220000,  11700000,   3705538,
         4439832,   9300000,   1750000,   4100000,    145786,     62000,
         2962051,  25530000, 123000000, 127500000,  12800000,  41300000,
        63600000,  10700000,     60000,         2,     35000,  71000000,
         1350000,  16400000,  18598420,  13800000,    787000,    645180,
         8045760,     33000,  12300000,     23000,  22700000,     25710,
         1880006,        95,    114000,    275000,     85000,    179000,
          980000,   2650000,       126,   2135161,    783000,    777000,
         1645000,        30,  37931000,    225000,  22997992,   2068041,
         5037000,    806948,    270000,  14600000,        21,  19885552,
           68000,    947000,    640000,       200,  31115000,   9400000,
           66500,       113,  24500000,    111000,     22500,   4638783,
        25485000,   3716946,     45000,   5760000,       115,    360000,
         6244087,    175000,   7920000,        11,    660000,   6727000,
          315000,   1377800,   4653000,   5115000,     19000], dtype=int64)

In [52]:
data[:2] #coulumns:row

,id,imdb_id,popularity,budhet$,revenue,original_title,cast,homepage,director,tagline,...,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,duplicate
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09,False
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08,False

In [55]:
data[2:5]

,id,imdb_id,popularity,budhet$,revenue,original_title,cast,homepage,director,tagline,...,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,duplicate
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08,False
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09,False
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09,False